* {
    font-family: "Helvetica Neue-UltraLight";
}

body {
    background-color: rgba(248, 248, 248, 0.69);
}

#image {
    display: none;
    margin: 0 auto;
}

#nametext {
    width: 50%;
    margin: 0 auto;
}

#text {
    width: 50%;
    height: 80px;
    margin: 0 auto;
    text-align: center;
}


a#a {
    display: block;
    border-width: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 5%;
    font-size: 20px;
    text-decoration: none;
}

.my_border {
}

div#dropzone {
    color: black;
    width: 70%;
    height: 350px;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(248, 248, 248, 0.69);
    box-shadow: 1px 1px 9px -8.5px rgba(238, 238, 238), -1px -1px 9px -8.5px rgba(238, 238, 238);
}


div#rector {
    background-color: rgb(18, 103, 233);
    margin: 5px auto;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    display: none;
}

div#rector:active {
    background-color: rgb(3, 88, 218);
}

#upload {
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;

}

footer {
    text-align: center;
    color: #000000;
    border-top: 1px solid black;
}


div#fixed_navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    font-size: 10px;
    background-color: #FFFFFF;
    border: 1px solid #e7e7e7;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0px
    margin-left: auto;
    margin-top: 0px;
    margin-right: auto;
    text-align: center;
}


p#title {
    display: block;
    font-family: "Andale Mono";
    font-size: 1rem;
}
